/* Add a black background color to the top navigation */
.topnav {
  background-color: lightskyblue;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000080;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #000080;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: dodgerblue;
  color: white;
}
